 body { 
      text-align: center; 
      background-color: #5e5950;
      font-family: Arial, sans-serif;
      margin: 10%;
    }

    li { 
      list-style-type: none; 
      padding: 10px; 
    }